<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../layout/header.ejs", {title:"Sửa Hóa Đơn"}) %>

</head>

<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <%- include("../layout/nav_header.ejs") %>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <%- include("../layout/sidebar.ejs") %>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Sửa Hóa Đơn</h4>
                            <div class="basic-form">
                                <form action="/admin/hoadon/update/<%=hoadon.id%>" method="post">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Tên khách hàng</label>
                                            <input type="text" name="name" required class="form-control" placeholder="Tên khách hàng">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>số điện thoại</label>
                                            <input type="number" name="phone" required class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Email</label>
                                            <input type="text" value=<%=hoadon.email%> name="email" required class="form-control" placeholder="Email">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Tổng tiền</label>
                                            <input type="text" name="price" required class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Phương thức thanh toán</label>
                                                <select id="inputState" name="method" required class="form-control">
                                                    <option value="Thanh toán trực tiếp">Thanh toán trực tiếp</option>
                                                    <option selected="selected" value="Đặt đồ online">Đặt đồ online</option>
                                                </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Trạng thái</label>
                                            <select name="is_stock" class="form-control">
                                                <option value=1 <%=hoadon.is_stock ? "selected" : ""%> >Đã thanh toán</option>
                                                <option value=0 <%=!hoadon.is_stock ? "selected" : ""%> >Chưa thanh toán</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>Ngày</label>
                                            <input type="date"  name="day" required class="form-control">
                                        </div>
                                    </div>
                                    <% for(x in hoadon.products){%>
                                        <p><%=hoadon.products[x].name%></p>
                                    <%}%>
                                    <button type="submit" class="btn btn-dark">Sửa Thông Tin Hóa Đơn</button>
                                    <a class="btn btn-info" href="/admin/cthoadon?id=<%=hoadon._id%>">Chi Tiết Hóa ĐƠn</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <!-- <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>
        </div> -->
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
	<%- include("../layout/footer.ejs") %>
</body>

</html>